{% load static %}
<div class="container">
    <div class="background">
        <div class="bg__gradient">
            <div class="row">
                <div class="col-xl-6">
                    <div class="bg__text">
                            <p class="bg__text__head">{{ profile.org_short_name }}</p>
                        <p class="bg__text__small">{{ profile.org_intro }}</p>
                        <div class="online__zayavka__button">
                                <button class="button__zayavka" data-toggle="modal" data-target="#modal-statement">Подать
                                    заявку</button>
                            </div>                        
                            <div class="info_box_text">
                                    Организация является членом <br>
                                    Саморегулируемая организация Ассоциация «НАКС».
                                    <div class="naks_link">
                                           <a href="http://www.naks.ru" target="_blank"
                                             title="Национальное Агентство Контроля Сварки">www.naks.ru</a>
                                           <a href="http://spks.naks.ru/news/" class="spks_link" target="_blank"
                                             title="Совет по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
                                         </div>
                             </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="bg__text">                  
                        
                            <p class="bg_text_headline_right_column">Информация по реестрам</p>
                        {% if profile.org_csp_reestr_link %}
                        <p class="bg__text__naks">
                            Ссылка на реестр НАКС центра спецподготовки:
                            <a class="naks__web" href="{{ profile.org_csp_reestr_link }}" target="_blank"
                                title="Национальное Агентство Контроля Сварки">{{ profile.org_csp_code }}</a>
                        </p>
                        {% endif %}

                        {% if profile.org_acsp_reestr_link %}
                        <p class="bg__text__naks">
                            Ссылка на реестр НАКС центра по аттестации персонала сварочного производства:
                            <a class="naks__web" href="{{ profile.org_acsp_reestr_link }}" target="_blank"
                                title="Национальное Агентство Контроля Сварки">{{ profile.org_acsp_code }}</a>
                        </p>
                        {% endif %}

                        {% if profile.org_acsm_reestr_link %}
                        <p class="bg__text__naks">
                            Ссылка на реестр НАКС центра по аттестации сварочных материалов:
                            <a class="naks__web" href="{{ profile.org_acsm_reestr_link }}" target="_blank"
                                title="Национальное Агентство Контроля Сварки">{{ profile.org_acsm_code }}</a>
                        </p>
                        {% endif %}

                        {% if profile.org_acso_reestr_link %}
                        <p class="bg__text__naks">
                            Ссылка на реестр НАКС центра по аттестации сварочного оборудования:
                            <a class="naks__web" href="{{ profile.org_acso_reestr_link }}" target="_blank"
                                title="Национальное Агентство Контроля Сварки">{{ profile.org_acso_code }}</a>
                        </p>
                        {% endif %}
                        {% if profile.org_acst_reestr_link %}
                        <p class="bg__text__naks">
                            Ссылка на реестр НАКС центра по аттестации сварочных технологий:
                            <a class="naks__web" href="{{ profile.org_acst_reestr_link }}" target="_blank"
                                title="Национальное Агентство Контроля Сварки">{{ profile.org_acst_code }}</a>
                        </p>
                        {% endif %}

                        {% if profile.org_cok_reestr_link %}
                        <p class="bg__text__naks">
                            Ссылка на реестр НАКС центра оценки квалификации:
                            <a class="naks__web" href="{{ profile.org_cok_reestr_link }}" target="_blank"
                                title="Национальное Агентство Контроля Сварки">{{ profile.org_cok_code }}</a>
                        </p>
                        {% endif %}

                      

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>