{% load static %}
<div class="box__content">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="header__name">
                    <p class="">Наши услуги</p>
                </div>
            </div>
        </div>
        <div class="row">

            {% for service in all_services %}
            <div class="col-md-6 col-xl-3">
                <div class="button__services">
                    <a href="{% url 'service' service.pk %}#head__page">
                        <div class="box__service">
                            <p class="services__name">{{ service.title }}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="row">
            <div class="col-xl-3">
                <div class="header__name">
                    <p class="">Новости</p>
                    <div class="link__read__news">
                        <a href="{% url 'news' %}#head__page" class="news__more__link">
                            Ко всем новостям
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} news_block {% endcomment %}
        <div class="row">
            {% for post in posts %}
            <div class="col-xl-3">
                <div class="block__news">
                    <a href="{% url 'details' post.pk %}#head__page" class="link__news">
                        <div class="box__news">
                            <p class="data__news__main">{{ post.published_date }}</p>
                            <p class="box__news__text">
                                {{ post.title }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="row">
            <div class="col-xl-3">
                <div class="header__name">
                    <p class="">Информация</p>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-4">

                <div class="info__block">
                    <div class="naks__box">
                        <div class="naks__img__box">
                        </div>
                    </div>
                    <div class="naks__info__box">
                        <p class="naks__text__box">Национальное Агентство <br>
                            Контроля Сварки</p>
                        <a href="http://www.naks.ru" target="_blank">
                            <p class="naks__text__box">www.naks.ru</p>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4">
                <div class="info__block">
                    <div class="search__color__box">
                        <div class="search__box">
                            <p class="search__link__text">
                                BEWELDER.RU
                            </p>
                            <p class="search__text__small">
                                Поиск работы <br> в области сварки
                            </p>
                        </div>
                    </div>
                    <div class="search__info__box">
                        <p class="search__text__box d-inline-block">Сервис поиска работы <br> в области сварки</p>
                        <a href="http://www.bewelder.ru" target="_blank" class="search__work__link d-inline-block">Найти
                            работу</a>
                        <a href="http://www.bewelder.ru" target="_blank">
                            <p class="search__text__box">www.bewelder.ru</p>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4">
                <div class="info__block">
                    <div class="journal__box">
                        <div class="row">
                            <div class="col-xl-6">
                                <p class="journal__text__small d-inline-block">
                                    Журнал <br> сварка и <br> диагностика
                                </p>
                            </div>
                            <div class="col-xl-6">
                                <div class="journal__img__box"></div>
                            </div>
                        </div>

                    </div>
                    <div class="naks__info__box">
                        <p class="naks__text__box">Научно-технический и производственный <br> журнал по сварке,
                            контролю и диганостике
                            <a href="http://www.svarka.naks.ru" target="_blank">
                                <p class="naks__text__box">www.svarka.naks.ru</p>
                            </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>