{% load static %}
<div class="footer__block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4   col-xl-3">
                <p class="footer__naks__text">
                    Организация является членом Саморегулируемой <br> организации Ассоциация «НАКС».
                </p>

                <p class="naks__web__footer">
                    <a href="http://www.naks.ru" target="_blank" title="Национальное Агентство Контроля Сварки">www.naks.ru
                        &nbsp | &nbsp </a>
                    <a href="http://spks.naks.ru/news/" target="_blank" title="Совет по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
                </p>

            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="rsps_logo d-inline-block">
                    <a href="http://www.rsps.site" target="_blank">
                        <img src="{% static '/img/rsps_logo.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-2">
                    <div class="info__footer__block">
                            <p class="number">
                                {{ profile.org_main_phone }}
                            </p>
                            <p class="consultation__text"> {{ profile.org_main_phone_text }}</p>

                            <div class="adres__block ">
                                <p class="text__adres"> {{ profile.org_address }}
                                </p>
                                <a class="click__on__map" title="Открыть карту" href="{% url 'contact' %}#map">
                                        Посмотреть на карте</a>
                        </div>
                        </div>
            </div>
            <div class="col-lg-4 col-xl-2">
                    <p class="number">
                            {{ profile.org_secondary_phone }}
                        </p>
                        <p class="consultation__text"> {{ profile.org_secondary_phone_text }}
            </div>        
            <div class="col-sm-3 col-lg-4 col-xl-2">
                <div class="enter_system_edo">
                    <a href="https://ac.naks.ru/" class="enter_system_link" target="_blank">
                        Войти в систему ЭДО</a>
                </div>
            </div>        
        </div>
        <div class="row">
            <div class="col-lg-4 col-xl-4">

                <div class="prava__footer">
                    © {{ profile.org_short_name }}. Все права защищены.
                </div>
                <a href="{% url 'political' %}#head__page" class="political__footer d-inline-block">Политика конфиденциальности</a>

            </div>
            <div class="col-lg-4 col-xl-8">
                    <p class="razrabotano">
                            Разработано в - НАКС Медиа
                        </p>
            </div>
        </div>
    </div>