{% load static %}
<div class="footer__block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4   col-xl-3">
                <p class="footer__naks__text">
                    Организация является членом Саморегулируемая <br> организация Ассоциация «НАКС».
                </p>

                <p class="naks__web__footer">
                    <a href="http://www.naks.ru" target="_blank" title="Национальное Агентство Контроля Сварки">www.naks.ru
                        &nbsp | &nbsp </a>
                    <a href="http://spks.naks.ru/news/" target="_blank" title="Совет по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
                </p>

            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="rsps_logo d-inline-block">
                    <a href="http://www.rsps.site" target="_blank">
                        <img src="{% static '/img/rsps_logo.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-2">
                    <div class="info__footer__block">
                            <p class="number__footer">
                                (3519) 58-09-07
                            </p>
                            <p class="consultation__text">Консультация специалиста</p> 
                                                
                            <div class="adres__block ">
                                <p class="text__adres"> г. Магнитогорск <br> Профсоюзная, дом 14, офис 111
                                </p>
                                <a data-fancybox="" data-options="" class="click__on__map" title="Открыть карту" href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%9F%D1%80%D0%BE%D1%84%D1%81%D0%BE%D1%8E%D0%B7%D0%BD%D0%B0%D1%8F,+14,+%D0%9C%D0%B0%D0%B3%D0%BD%D0%B8%D1%82%D0%BE%D0%B3%D0%BE%D1%80%D1%81%D0%BA,+%D0%A7%D0%B5%D0%BB%D1%8F%D0%B1%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+455019/@53.3974046,59.0340087,18z/data=!3m1!4b1!4m5!3m4!1s0x43d12f82af4c55f9:0x1cb4da0de2b692ba!8m2!3d53.397403!4d59.035103">
                                        Посмотреть на карте</a>
                        </div>
                        </div>
            </div>
            <div class="col-lg-4   col-xl-2">
                    <p class="number__footer">
                            (3519) 58-09-07
                        </p>
                        <p class="consultation__text">аттестационный пункт в 
                               <br> г. Иваново</p> 
            </div>
            <div class="col-xl-2">
                    <button class="feedback__button__mob ">
                            <a href="" class="feedback__footer_m" data-toggle="modal" data-target="#modal-question">
                                    <img src="{% static '/img/icon_2.png' %}" class="icon__vopros" alt=""> Задать
                                    вопрос</a>
                    </button>   
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xl-4">
              
                <div class="prava__footer">
                    © 2019 АНО ЦЭС «Техкранэнерго». Все права защищены.
                </div>
                <a href="{% url 'political' %}#head__page" class="political__footer d-inline-block">Политика конфиденциальности</a>
               
            </div>
            <div class="col-lg-4 col-xl-8">
                    <p class="razrabotano">
                            Разработано в - НАКС Медиа
                        </p>
            </div>
        </div>
    </div>