{% load static %}
{% load link_holders %}
<div class="container ">
  <div class="menu__background">
    <div class="row align-items-center">
      <div class="col-xl-12">
        <div class="menu__navbar">
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg navbar-dark primary-color">

            <!-- Navbar brand -->

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

              <!-- Links -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Главная
                    <span class="sr-only">(current)</span>
                  </a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Центр</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'center' %}#head__page">Об организации {{ profile.org_short_name }}</a>
                    <a class="dropdown-item" href="{% link_holder 'KOMISS' %}#head__page">{% title_holder 'KOMISS' %}</a>
                    <a class="dropdown-item" href="{% link_holder 'OBLD' %}#head__page">{% title_holder 'OBLD' %}</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Услуги</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">

                    {% for service in all_services %}
                    <a class="dropdown-item" href="{% url 'service' service.pk %}#head__page">
                            {{ service.title }}
                    </a>
                    {% endfor %}


                  </div>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'doc' %}#head__page">Документы
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% link_holder 'COK' %}#head__page">{% title_holder 'COK' %}
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'contact' %}#head__page">Контакты
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
              </ul>

            </div>
            <div class="system__button">
              <a href="https://ac.naks.ru/" target="_blank" class="enter__system">Войти в систему ЭДО</a>
            </div>
          </nav>

          <!--/.Navbar-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Конец меню -->