<div class="sider__bar__service__pages">
    <p class="trebovanie__left__column">
        Наши документы:
    </p>
    {% for doc in random_documents %}
    <a href="{{ doc.document.url }}" class="trebovanie__list">
        <p>
            • {{ doc.title }}</p>
    </a>
    {% endfor %}

    <a href="{% url 'doc' %}" target="_blank">В раздел "Документы"</a>
    <p class="right__column__header">
        Наши услуги:
    </p>
    <div class="list__service__column">

        {% for service in other_services %}
        <p class="small__column__text"><a href="{% url 'service' service.pk %}#head__page">
            {{ service.title }}
        </a></p>
        {% endfor %}

        {% if not other_services %}
            {% for service in all_services %}
            <p class="small__column__text"><a href="{% url 'service' service.pk %}#head__page">
            {{ service.title }}
            {% endfor %}
        </a></p>
        {% endif %}

    </div>