// Спецификация

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
}


@media (min-width: 360px) {
    .container {
        max-width: 1600px;
    }
}

.line__otstup__inside__pages {
    margin-top: 35px;
    margin-bottom: 35px;
}

.back__to__main {
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 0px;
    margin-top: 45px;
    margin-bottom: 45px;

    a {
        text-decoration: none;
        color: #000000;
        padding: 15px;
        border: 1px solid rgb(238, 238, 238);
        border-radius: 3px;

        &:hover {
            background-color: rgb(243, 243, 243);
        }
    }
}

.arrow__back__to__main {
    margin-right: 5px;
}

.sider__bar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(45vh);
}

// Хедр


.box__items {
    padding: 5px 0px;

    @media screen and (max-width: 992px) {

        text-align: center;
    }

    @media screen and (max-width: 576px) {

        text-align: center;
    }
}

.header__logo {
    padding: 35px 0px 45px;

    @media screen and (max-width: 1488px) {
        width: 200px;
        ;
    }
}

.center__logo {
    padding-left: 5px;
    padding-right: 5px;

    @media screen and (max-width: 320px) {
        padding-left: 45px;
        padding-right: 45px;
    }
}

.number {
    font-size: 20px;
    // font-weight: 300;
    // margin-bottom: 0;
    color: #fff;

    @media screen and (max-width: 1400px) {
        font-size: 22px;
    }
}

.number_header {
    font-size: 20px;
    font-weight: 300;
    color:#3d4349;

    @media screen and (max-width: 1400px) {
        font-size: 22px;
    }
}

.enter_system_edo::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    margin-top: 5px;
    background: url(/static/img/enter_system.png) center 0 no-repeat;
  }

  .enter_system_link{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-left: 25px;
  }

.adres__block {
    margin-bottom: 5px;
    font-size: 14px;

    @media screen and (min-width: 1000px) {
        margin-top: 15px;
    }

    a {
        text-decoration: underline;
    }

    @media screen and (max-width: 696px) {
        margin: 10px;
    }
}

.block__number {
    text-align: right;

    @media screen and (max-width: 578px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    @media screen and (max-width: 575px) {
        text-align: center;
    }
}

.number__text__small {
    margin-bottom: 0;
    font-weight: 450;
    font-size: 14px;
}

.feedback {
    margin-top: -15px;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    color: #4f8ff5;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    text-align: right;

    a {
        text-decoration: none;
    }

    @media screen and (max-width: 992px) {

        padding: 10px 25px;
        margin-top: 10px;
        border-radius: 3px;
        justify-content: center;

        a {
            color: #fff;
        }
    }
}

.text__adres {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 25px;

}

.click__on__map {
    margin-top: -15px;
    font-size: 12px;
    font-weight: 450;

    @media screen and (max-width: 576px) {
        font-size: 14px;
        margin-bottom: 15px;
    }
}

.number__footer {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 0;
    color: #fff;
}

.consultation__text{
    color: #fff;
}

.feedback__button__mob {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-top: 5px;

    a {
        text-decoration: none;
        font-size: 12px;
        color: #6698e4;
        padding: 7px 20px;
        vertical-align: middle;

        @media screen and (max-width: 1440px) {
            padding: 8px 15px;

        }

        @media screen and (max-width: 1200px) {
            padding: 7px 12px;
            font-size: 12px;
        }

        @media screen and (max-width: 320px) {
            clear: both;
        }

        &:hover {
            background-color: #6698e415;
            transition: 0.2s;
        }
    }

}

.feedback__footer_m {
    border: 1px solid #6698e4;
    border-radius: 45px;

}

.icon__vopros {
    margin-top: -4px;
    margin-left: -5px;
}


// Меню
.box__line__menu {
    background-color: #ecf5fe;
}

.system__button {
    padding: 0px 30px;
}

.system__button a {
    text-decoration: none;
}

.enter__system {
    color: #fff;

    &:hover {
        color: rgb(226, 226, 226);
    }
}

.enter__system::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 15px;
    margin-left: -35px;
    margin-top: 5px;
    background: url(/static/img/enter.png) center 0 no-repeat;
}

// Бэкграунд

.background {
    background: url(/static/img/background.jpg) no-repeat;
    background-size: cover;
    padding: 85px;
    position: relative;

    @media screen and (max-width: 1199px) {
        padding: 25px;
    };
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#122c3b,#ffffff);
        opacity: .4;

    };
};
    // :after {
    //     position: absolute;
    //     content: "";
    //     left: 0px;
    //     top: 0px;
    //     height: 100%;
    //     width: 100%;
    //     background: linear-gradient(transparent);
    //   }




.bg__text__head {
    font-size: 34px;
    font-weight: 550;
    color: #fff;

    @media screen and (max-width: 320px) {
        font-size: 18px;
    }
}

.bg_text_headline_right_column {
    font-size: 22px;
    font-weight: 450;
    color: #fff;
    margin-bottom: 40px;

    @media screen and (max-width: 1199px) {
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

.bg__text_right_column{
    background-color: #005abb71;
    padding: 35px;
}

.bg__text__small {
    font-size: 18px;
    font-weight: 450;
    color: #fff;
    line-height: 1.8;

    @media screen and (max-width: 320px) {
        font-size: 14px;
    }
}

.bg__text__naks {
    font-size: 16px;
    font-weight: 500;
    color: #fff;

    a {
        text-decoration: none;
        color: #fff;
    }
}

.bg__line {
    border-bottom: 1px solid #3eb5f1;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.online__zayavka__button {
    margin-top: 15px;
    margin-bottom: 25px;
}

.button__zayavka {
    background-color: rgb(0,152,219);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;

    &:hover {
        background-color: rgb(0,152,219);

        transition: width 0.5s cubic-bezier(.17,.67,.42,.65) 0.1s;
    }

    &:active {
        background-color: #2c5c8b;
        transition: 0.2s;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.info_box_text {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 0px;
}

.info_box_text_small {
    font-size: 13px;
    color: #4b5c72;
    margin-top: 10px;
    margin-bottom: 0px;
}

.naks_link {
    font-size: 13px;
    font-weight: 300;
    text-decoration: underline;

    a {
        color: #ffffff;
        line-height: 1.8;
    }

}

.naks_link .spks_link {
    margin-left: 10px;
    text-decoration: underline;
}

.feedback__button {
    padding: 0;
    background-color: transparent;
    border: none;
    width: 100%;
    // margin-top: 10px;

    a {
        text-decoration: none;
        // font-size: 12px;
        color: #6698e4;
        padding: 7px 20px;
        vertical-align: middle;

        @media screen and (max-width: 1440px) {
            padding: 8px 15px;

        }

        @media screen and (max-width: 1200px) {
            padding: 7px 12px;
            font-size: 12px;
        }

        &:hover {
            background-color: #6698e415;
            transition: 0.2s;
        }
    }

}

.feedback {
    border: 1px solid #6698e4;
    border-radius: 45px;
    width: 100%;

}

.icon__vopros {
    margin-top: -4px;
    margin-left: -5px;
}

// Контентная часть left column


.header__name {
    color: #1d4872;
    font-size: 28px;
    font-weight: 500;
    padding: 60px 0px 25px;
}

.text__medium {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}

.box__info__text__small {
    margin-left: 15px;
}

.info__text__small::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -15px;
    margin-top: 8px;
    background: url(/static/img/paragraph_arrow.png) center 0 no-repeat;
}


.info__text__small {
    font-size: 16px;
    font-weight: 450;
    color: rgb(82, 82, 82);
}

.header__name__small {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.img_box {
    margin-right: 15px;
    width: 100px;

    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.link__read__more a {
    text-decoration: none;
    font-size: 16px;
    color: #0066ac;
}


// Услуги right column



// .box__service:hover {
//     background-color: #143b63;
//     -moz-transition: all 0.2s ease-out;
//     -o-transition: all 0.2s ease-out;
//     -webkit-transition: all 0.2s ease-out;
//     -webkit-transform: scale(1.01);
//     -moz-transform: scale(1.01);
//     -o-transform: scale(1.01);
// }



.box_service {
    padding: 25px;
    background-color: rgba(245, 245, 245, 0.37);
    border-bottom: 4px solid #fbb42f4b;
 a{
     text-decoration: none;
 }
    &:hover{
        background-color: #86bbd852;
        transition: 0.3s;
    }
    @media screen and (max-width: 1200px) {
       margin-bottom: 35px;
    }
}

.name_service {
    color: #3d4349;
    font-size: 20px;
    font-weight: 550;
}

.short_description{
    font-weight: 400;
    font-style: normal;
    color: #6b6b6b;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0px;
}


// Новости

.link__read__news {
    margin-top: -30px;
    margin-bottom: 25px;
}

.link__read__news a {
    text-decoration: none;
    font-size: 14px;
    color: #0066ac;
    font-weight: 450;
}

.block__news {
    // border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
}

.block__news a {
    text-decoration: none;
}

.box__news {
    min-height: 100px;
    padding: 25px;
    border: 0.5px solid #ececec5d;
    border-radius: 3px;
    background-color: rgba(238, 238, 238, 0.171);
    // border-bottom: 1px solid #e8e8e8;


    &:hover {
        box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03);
    }
}

.data__news__main {
    color: rgb(168, 168, 168);
    text-decoration: none;
    margin-bottom: 0px;
    padding: 15px 0px 0px;
}

.box__news__headline {
    color: #303030;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 0;
    padding: 0px 0px 10px;
}

.box__news__text {
    color: #303030;
    font-size: 14px;
    font-weight: 350;
    line-height: 1.6;
    margin-bottom: 0;
}


// Информация
// Naks block

.info__block{
    box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03);
    margin-top: -5px;
}

.naks__img__box {
    background: url(/static/img/naks_logo.png) no-repeat;
    background-size: cover;
    border-radius: 3px;
    width: 200px;
    height: 142px;
    margin: 0 auto;
}


.naks__box {
    padding: 15px;
    background-color: #415e94;
    border-radius: 3px 3px 0px 0px;
}

.naks__info__box {
    margin-bottom: 50px;
    background-color: #fff;
    padding: 25px;

    a {
        text-decoration: none;
    }
}

.naks__text__box {
    font-size: 16px;
    font-weight: 450;
    border-radius: 0px 0px 3px 3px;
    margin-bottom: 0px;
}

// Search work block

.search__box {
    background: url(/static/img/search__work.png) no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.search__color__box {
    background-color: #0066ac;
    color: #fff;
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.search__work__link {
    background-color: #fbb52f;
    border-radius: 45px;
    padding: 7px 20px;
    font-weight: 500;
    font-size: 16px;
    float: right;
    text-align: right;
    color: #000;

    &:hover {
        color: #000;
        background-color: #ffcc6d;
        transition: 0.2s;
    }

    @media screen and (max-width: 320px) {
        margin-top: 15px;
        float: left;
        margin-bottom: 15px;
    }
}

.search__box {
    padding: 25px;
    border-radius: 3px 3px 0px 0px;
}

.search__info__box {
    margin-bottom: 50px;
    background-color: #fff;
    padding: 25px;

    a {
        text-decoration: none;

    }
}

.search__text__box {
    font-size: 16px;
    font-weight: 450;
    border-radius: 0px 0px 3px 3px;
    margin-bottom: 0px;
}

.search__link__text {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 650;
    color: #fbb52f;
}

.search__text__small {
    font-size: 18px;
    font-weight: 500;
    color: #fff;

}

// Journal block

.journal__box {
    background-color: #415e94;
    border-radius: 3px 3px 0px 0px;
    padding: 25px 0px 0px 25px;
}

.journal__img__box {
    background: url(/static/img/journal.png) no-repeat;
    background-size: cover;
    // border-radius: 3px;
    width: 162px;
    height: 150px;
    margin-top: -3px;
}


.journal__text__small {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
}


// Footer block

.bg__text__naks a{
    color: #fbb52f;
}

.naks_web {
    color: #fff;
    border-radius: 25px;
    a{
        text-decoration: none;
    }
    @media screen and (max-width: 1100px) {
        border: 0.5px solid #fff;
        padding: 7px 15px;
        line-height: 1.9;
    }
}

.naks_web__footer a {
    text-decoration: none;
    color: #505050;
    &:hover {
        color: #0087e0;
    }
}

.naks__web__footer {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
a{
    color: #fff;
}

}

.additional_logo {
    text-align: right;
    @media screen and (max-width: 768px) {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
}

.footer__naks__text {
    margin-bottom: 5px;
    color: #fff;
}

.footer__block {
    background-color:  #25292c;
    padding: 55px 0px 55px;

    @media screen and (max-width: 992px) {
        padding: 15px;
        text-align: center;
    }
}



.political__footer {
    color: #fff;

    @media screen and (max-width: 320px) {
        display: none;
        margin-top: 15px;
    }
}

.line__footer__small {
    border: 1px solid #e8e8e8;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 15px;

    @media screen and (max-width: 320px) {
        display: none;
    }
}

.prava__footer {
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 15px;


    @media screen and (max-width: 320px) {
        display: block;
        text-align: center;
        margin-top: 25px;
    }
}

.header__text__footer {
    font-size: 14px;
    text-transform: uppercase;
    color: #415e94;
    margin-bottom: 10px;

    @media screen and (max-width: 768px) {
        margin-top: 15px;
    }
}

.feedback__footer {
    margin-top: -15px;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    color: #fff;
    text-align: right;

    a {
        text-decoration: none;
    }

    @media screen and (max-width: 992px) {
        background-color: #5e7daf;
        padding: 10px 25px;
        margin-top: 10px;
        border-radius: 3px;
        color: #fff;
        justify-content: center;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

}

.adres__footer__block {
    margin-top: 40px;
    font-weight: 500;
}

.adres__footer__text {
    margin-bottom: 0px;
}

.click__on__map_footer {
    font-weight: 300;

    @media screen and (max-width: 320px) {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.email__link__footer {
    font-size: 14px;
    font-weight: 400;
}

.email__text__footer {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
}

.razrabotano {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 350;
    color: #c2c2c2;
    text-align: right;


    @media screen and (max-width: 768px) {
        text-align: center;
        margin-top: 10px;
    }
}

// Документы
.header__inside__pages {
    font-size: 28px;
    font-weight: 500;
    margin-top: 25px;

}


.header__doc {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-top: 25px;
    margin-bottom: 10px;
}

.doc__name__list {
    font-size: 18px;
    font-weight: 300;
    color: #000;
}

.doc__content {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #ffffff;
    padding: 25px;
    border-left: 1px solid #c5deff;
    box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03);

    &:hover {
        background-color: #f5f5f5;
        transition: 0.2s;
        border-left: 1px solid #2785ff;

    }
}

.doc__name {
    position: relative;
    font-size: 15px;
    color: #000000;
    padding-left: 55px;
    margin-bottom: 0;
}

.doc__name::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 31px;
    margin-top: -5px;
    left: 0;
    background: url(/static/img/icon__file.svg) center 0 no-repeat;
}

.bd-sidebar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(30vh - 4rem);
}

//  Политика конфиденциальности

.header__political {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    margin-top: 15px;

    @media screen and (max-width: 1199px) {
        margin-top: 15px;
    }

}

.political__text__small {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}

// Профстандарты в области сварки

.box__standart {
    box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03);
    margin-top: 25px;
    padding: 35px;
    border-radius: 3px;
    border: 1px solid #f3f3f3;

    &:hover {
        border: 1px solid rgb(199, 223, 255);
        transition: 0.2s;
    }
}

.header__standart {
    font-size: 16px;
    font-weight: 350;
    margin-bottom: 10px;
}

.name__standart {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.info__standart {
    font-size: 16px;
    font-weight: 350;
    color: #000;
    margin-bottom: 5px;
}

.number__standart {
    font-size: 14px;
    font-weight: 600;
}

.box__standart__line__two {
    padding: 70px 0px;
}

.download__standart {
    background-color: rgb(206, 206, 206);
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;

    a {
        padding: 25px;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
    }

    &:hover {
        background-color: rgb(155, 155, 155);
        transition: 0.2s;
    }
}

.right__column__header {
    font-size: 18px;
    font-weight: 500;
    padding: 25px 0px 0px;
}

.list__service__column {
    a {
        text-decoration: none;
        color: #000;

        &:hover {
            color: rgb(121, 121, 121);
        }
    }
}

.small__column__text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

// Услуги центра (внутреннее страницы)

.header__service {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-top: 25px;
    margin-bottom: 10px;
}

.trebovanie__left__column {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
}

.box__service__inside__pages {
    background: #fdfdfd;
    padding: 10px 25px 25px;
    margin-top: 35px;

    @media screen and (max-width: 1199px) {
        margin-top: 15px;
    }
}

.trebovanie__list {
    font-size: 14px;
    margin-bottom: 0;

    p {
        margin-bottom: 5px;
    }
}

.small__header__pages {
    font-size: 18px;
    font-weight: 550;
    margin-top: 15px;
    color: #7c7c7c;
}

.info__text__pages {
    font-size: 18px;
    font-weight: 450;
    margin-top: 15px;
    color: #000000;
}


.list__item__text {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 20px;
}

.line__inside_pages {
    border: 0.5px solid rgb(207, 207, 207);
    margin-bottom: 25px;
    margin-top: 25px;
}

.danger__text__pages {
    font-size: 18px;
    font-weight: 500;
    color: #0066ac;
}

.inside__text {
    font-size: 16px;
    margin-bottom: 5px;
    margin-bottom: 10px;
}

.box__yellow_bg {
    padding: 25px 25px;
    background-color: rgba(236, 236, 236, 0.8);
    font-size: 16px;
}

.specialist__text__small {
    margin-bottom: 0;
}


.sider__bar__service__pages {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(55vh);
}


.button__zayavka__inside__pages {
    background-color: #03274b;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    padding: 10px 25px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;

    &:hover {
        background-color: #093663;
        transition: 0.2s;
    }

    &:active {
        background-color: #164c81;
        transition: 0.2s;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

// Страница услуг 2 "Лаборатория"

.medium__header__text {
    font-size: 18px;
    font-weight: 500;
}

.list__item__text__laboratoriya {
    font-size: 16px;
    line-height: 1.2;
}

.medium__header__text__svidetelstva {
    font-size: 16px;
    font-weight: 400;
}

// Upload Files
//variables
$file-uploader__primaryColor: rgb(114, 191, 167);
$file-uploader__primaryColor--hover: lighten($file-uploader__primaryColor, 15%);
$file-uploader__black: #242424;
$file-uploader__error: rgb(214, 93, 56);

//style
.file-uploader {
    border-radius: 3px;
    color: $file-uploader__black;
}

.file-uploader__message-area {
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
}

.file-list {
    background-color: rgb(208, 255, 214);
}

.file-list__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-list li {
    height: 50px;
    line-height: 50px;
    border: none;
    overflow: hidden;
    font-size: 18px;
}

.removal-button {
    width: 20%;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 153);

    &:hover {
        background-color: rgb(252, 129, 129);
        transition: 0.2s;
    }

    &:active {
        background-color: rgb(247, 100, 100);
        transition: 0.2s;
    }

    cursor: pointer;

    &::before {
        content: '\2716';
    }

    &:focus {
        outline: 0;
    }
}

.file-chooser {
    padding: 1em;
    transition: background-color 1s, height 1s;
    margin-top: 10px;
    // & p {
    //     font-size: 18px;
    //     padding-top: 1em;
    // }
}

//layout
.file-uploader {
    max-width: 400px;
    height: auto;

    & input[type=submit] {}
}

.file-list__name {
    max-width: 70%;
    float: left;
}

.file-list li {
    @extend %clearfix;
}

.removal-button {
    display: inline-block;
    height: 100%;
    float: right;
}

.file-chooser {
    padding: 0;
    background: transparent;
}

input[type=file] {
    border: none;

}


.file-chooser__input {
    margin: 0 auto;
}

.file-uploader__submit-button {
    border-radius: 3px;
    border: none;
    margin-top: 15px;
    color: white;
    background-color: #8fb6f5;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;

    & input[type=submit] {
        border: none;
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &:hover {
        background-color: #325fa8;
    }

    &:active {
        background-color: #254e8f;
    }
}

//layout
// .file-uploader {
//     @extend %clearfix;
// }

//utility

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.hidden {
    display: none;

    & input {
        display: none;
    }
}

.error {
    background-color: $file-uploader__error;
    color: white;
}

//reset
*,
*::before,
*::after {
    box-sizing: border-box;
}

// О центре

.link__inside__pages {
    font-size: 18px;
    margin-bottom: 5px;
}

.content__text__kompanyi {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}

.sider__bar__center__page {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(75vh);
}

.rukovodstvo__header {
    font-size: 20px;
    font-weight: 500;
}

.rukovodstvo {
    font-size: 18px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 15px;
}

// Contact page

.contact__header__pages {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 15px;
    margin-top: 15px;
}

.contact__number {
    font-size: 20px;
    font-weight: 500;
}

.contacti__number__text {
    font-size: 12px;
    margin-top: -15px;
}

.adres__ac {
    font-size: 16px;
    font-weight: 500;
}

.ya__map {
    margin-bottom: 25px;
    width: 100%;
}

// Новости (внутри)
.header__news {
    font-size: 24px;
    font-weight: 550;
    color: #000;
    margin-bottom: 15px;
    margin-top: 25px;
}


.img__box__news {
    margin-top: 15px;
    margin-bottom: 25px;
}

.small__text__news {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-top: 15px;
    line-height: 1.8;
}

.news__tag__all-news {
    margin-top: 25px;
    margin-bottom: 10px;
}

.news__tag__all-news a {
    font-size: 14px;
    margin-top: 25px;
    background-color: transparent;
    border-radius: 55px;
    border: 1px solid #3164a2;
    padding: 5px 15px;
    width: 70px;
    color: #3164a2;
    margin-bottom: 5px;

    &:hover {
        background-color: rgba(188, 218, 255, 0.1);
    }
}


.page-link {
    color: #2e3e60;
    font-size: 14px;
    border-radius: 0px;

}

.page-item {
    border-radius: 0px;
}

.page-link:hover {
    transition: 0.2s;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
}


.date__news__inside {
    font-size: 14px;
    font-weight: 350;
    color: #5a5a5a;
    margin-top: 15px;
    margin-bottom: 15px;

}

.vkontakte {
    background-color: #0288d1;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        background-color: #027abb;
    }
}


.googlepluse {
    background-color: #f4511e;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        background-color: #dd481b;
    }
}


.twitter {
    background-color: #03a9f4;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        background-color: #0b8bc7;
    }
}


.facebook {
    background-color: #3f51b5;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: #3647a7;
    }
}

.to__share {
    margin-bottom: 25px;
    text-align: right;

    @media screen and (max-width: 320px) {
        text-align: left;
    }
}

.line__news__end {
    border: 0.5px solid #ebebeb;
    margin-top: 25px;
    margin-bottom: 25px;
}

.prikrep__doc {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.soglashenie__button {
    background-color: transparent;
    border: none;
    padding: 0;

    a {
        text-decoration: none;
    }
}

.soglashenie__button__text {
    border: 1px #8d8d8d solid;
    padding: 10px 15px;
    display: block;
    font-size: 14px;
    color: #8d8d8d;


    &:hover {
        color: #585858;
    }
}

.download__icon {
    margin-left: 10px;
}

.soglashenie__button__text:hover {
    background-color: #f1f1f1;
}

.carousel__slide {
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 21px;
    height: 34px;
}

.carousel-control-prev-icon {
    background: url(/static/img/next__image__arrow-01.png) no-repeat;
}

.carousel-control-next-icon {
    background: url(/static/img/next__image__arrow-01.png) no-repeat;
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.box__news__inside__block {
    padding: 45px;
    background-color: #fcfcfc;
    margin-top: 30px;

    @media screen and (max-width: 320px) {
        padding: 15px;
    }
}

.header__all__news {
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px;
}

.line__otstup__inside__pages__news {
    margin-top: 25px;
    margin-bottom: 25px;
}

.link__read__news__inside {
    margin-top: 15px;
    margin-bottom: 25px;

}

.link__read__news__inside a {
    text-decoration: none;
    font-size: 14px;
    color: #0066ac;
    font-weight: 450;
}


// Нумерация
.page-link {
    color: #2e3e60;
    font-size: 14px;
    border-radius: 0px;

}

.page-item {
    border-radius: 0px;
    margin-top: 25px;
}

.page-link:hover {
    transition: 0.2s;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
}
