
{% extends 'mainapp/index.html' %}
{% load static %}
{% block content %}
    <div class="container">

        <button class="back__to__main" id="head__page">
            <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                    alt="">
                На главную</a>
        </button>


        <div class="row">

            <div class="col-xl-2">

            </div>

            <div class="col-xl-7">
                <div class="header__inside__pages">Услуги центра</div>
                <div class="box__service__inside__pages">
                    <p class="header__service   ">Аттестация <br> сварочного оборудования</p>
                    <div class="inside__pages__online__zayavka__button  ">
                        <button class="button__zayavka__inside__pages" data-toggle="modal" data-target="#modal-statement">Оставить
                            заявку</button>
                    </div>
                    <p class="small__header__pages">
                        Направление аттестационной деятельности:
                    </p>
                    <div class="list__item__text">
                        <p>Аттестация сварочного оборудования;</p>
                        <p>Оформление дубликатов паспортов на сварочное оборудование.</p>
                        <div class="line__inside_pages"></div>
                    </div>
                    <p class="small__header__pages">
                        Группы опасных технических устройств:
                    </p>
                    <div class="list__item__text">
                        <p>• ПТО - подъемно-транспортное оборудование;</p>
                        <p>• КО - котельное оборудование;</p>
                        <p>• ГО - газовое оборудование;</p>
                        <p>• НГДО - нефтегазодобывающее оборудование;</p>
                        <p>• ПТО - подъемно-транспортное оборудование;</p>
                        <p>• ОХНВП - оборудование химических, нефтехимических, нефтеперерабатывающих и
                            взрывопожароопасных производств;</p>
                        <p>• МО - металлургическое оборудование;</p>
                        <p>• ОТОГ - оборудование для транспортировки опасных грузов;</p>
                        <p>• СК - строительные конструкции.</p>
                        <div class="line__inside_pages"></div>
                    </div>
                    <p class="small__header__pages">
                        Способы сварки и наплавки:
                    </p>
                    <div class="list__item__text">
                        <p>• ПТО - подъемно-транспортное оборудование;</p>
                        <p>• КО - котельное оборудование;</p>
                        <p>• ГО - газовое оборудование;</p>
                        <p>• НГДО - нефтегазодобывающее оборудование;</p>
                        <p>• ПТО - подъемно-транспортное оборудование;</p>
                        <p>• ОХНВП - оборудование химических, нефтехимических, нефтеперерабатывающих и
                            взрывопожароопасных производств;</p>
                        <p>• МО - металлургическое оборудование;</p>
                        <p>• ОТОГ - оборудование для транспортировки опасных грузов;</p>
                        <p>• СК - строительные конструкции.</p>
                    </div>
                    <p class="info__text__pages">
                            Аттестация сварочного оборудования может проводиться, как в лаборатории аттестационного центра, так и в производственных условиях организации-заявителя.
                        </p>

                </div>

            </div>

            <div class="col-xl-2">

                {% include 'mainapp/includes/side_services_panel.html' %}

                    </div>
                </div>
            </div>

        </div>


        <div class="line__otstup__inside__pages"></div>

        <button class="back__to__main">
            <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                    alt="">
                На главную</a>
        </button>
        <div class="line__otstup__inside__pages"></div>
    </div>

 {% endblock  %}