{% extends 'mainapp/index.html' %}
{% load static %}{% load link_holders %}
{% block content %}
  <div class="container">

    <button class="back__to__main" id="head__page">
      <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center" alt="">
        На главную</a>
    </button>


    <div class="row">
      <div class="col-xl-2">
      </div>
      <div class="col-xl-7">
          <div class="header__inside__pages">О центре</div>

            {% autoescape off %}
                {% chunk 'about_center' %}
            {% endautoescape %}


        <div class="line__inside_pages"></div>
        {% if attestats %}
            <p class="small__header__pages">
            Аттестаты соответствия, свидетельства, сертификаты
              </p>
              <main role="main">
                  <p class="imglist d-flex">

                      {% for att in attestats %}
                      <a href="{{ att.image.url }}" class="img_box" data-fancybox="group1" data-type="image">
                          <img src="{{ att.image.url }}" class="img-fluid">
                      </a>
                      {% endfor %}

                  </p>
              </main>
        {% endif %}
        </div>

      <div class="col-xl-2">

       {% include 'mainapp/includes/side_services_panel.html' %}
      </div>
    </div>


    <div class="line__otstup__inside__pages"></div>

    <button class="back__to__main">
      <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center" alt="">
        На главную</a>
    </button>
    <div class="line__otstup__inside__pages"></div>
  </div>
</div>
  {% endblock  %}