{% extends 'mainapp/index.html' %}
{% load static %}{% load link_holders %}
{% block content %}
  <div class="container">

    <button class="back__to__main" id="head__page">
      <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center" alt="">
        На главную</a>
    </button>


    <div class="row">
      <div class="col-xl-2">
      </div>
      <div class="col-xl-7">
          <div class="header__inside__pages">О центре</div>

            {% autoescape off %}
                {% chunk 'about_center' %}
            {% endautoescape %}

              <p class="link__inside__pages"> <a href="{% url 'doc' %}#head__page">Заявки для аттестации в нашем центре</a></p>
              <p class="link__inside__pages"> <a href="{% url 'reestr' %}#head__page">Ресстр САСв нашего центра</a></p>
              <p class="link__inside__pages"> <a href="{% url 'profstandard' %}#head__page">Профстандарты в области сварки</a></p>

        <div class="line__inside_pages"></div>
        <p class="small__header__pages">
         Аттестаты соответствия
          </p>
          <main role="main">
              <p class="imglist d-flex">
                  <a href="{% static '/img/img_at.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at.jpg' %}" class="img-fluid">
                  </a>
                  <a href="{% static '/img/img_at2.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at2.jpg' %}" class="img-fluid">
                  </a>
                  <a href="{% static '/img/img_at3.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at3.jpg' %}" class="img-fluid">
                  </a>
                  <a href="{% static '/img/img_at4.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at4.jpg' %}" class="img-fluid">
                  </a>
                  <a href="{% static '/img/img_at5.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at5.jpg' %}" class="img-fluid">
                  </a>
                  <a href="{% static '/img/img_at6.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at6.jpg' %}" class="img-fluid">
                  </a>
              </p>
          </main>
      </div>

      <div class="col-xl-2">

       {% include 'mainapp/includes/side_services_panel.html' %}
      </div>
    </div>


    <div class="line__otstup__inside__pages"></div>

    <button class="back__to__main">
      <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center" alt="">
        На главную</a>
    </button>
    <div class="line__otstup__inside__pages"></div>
  </div>
</div>
  {% endblock  %}