{% extends 'mainapp/index.html' %}
{% load static %}
{% block content %}
<div class="container">

        <button class="back__to__main" id="head__page">
            <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                    alt="">
                На главную</a>
        </button>


        <div class="row">
            <div class="col-xl-2">
           
            </div>

          
            <div class="col-xl-7">
                    <div class="header__inside__pages">Новости</div>
                 <div class="box__news__inside__block">
                    <div class="to__share">
                        <a href="https://vk.com/share.php?url=https%3A%2F%2Ftech.yandex.ru%2Fshare%2F&title=%D0%91%D0%BB%D0%BE%D0%BA%20%C2%AB%D0%9F%D0%BE%D0%B4%D0%B5%D0%BB%D0%B8%D1%82%D1%8C%D1%81%D1%8F%C2%BB%20%E2%80%94%20%D0%A2%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8%20%D0%AF%D0%BD%D0%B4%D0%B5%D0%BA%D1%81%D0%B0&utm_source=share2"> <img src="{% static '/img/social__icon-01.png' %}" class="vkontakte" title="Поделиться Вконтакте"   alt=""> </a>               
                        
                        <a href="https://twitter.com/intent/tweet?text=%D0%91%D0%BB%D0%BE%D0%BA%20%C2%AB%D0%9F%D0%BE%D0%B4%D0%B5%D0%BB%D0%B8%D1%82%D1%8C%D1%81%D1%8F%C2%BB%20%E2%80%94%20%D0%A2%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8%20%D0%AF%D0%BD%D0%B4%D0%B5%D0%BA%D1%81%D0%B0&url=https%3A%2F%2Ftech.yandex.ru%2Fshare%2F&utm_source=share2"> <img src="{% static '/img/social__icon-03.png' %}" title="Поделиться Twitter" class="twitter"   alt="">  </a>              
                         <a href="https://www.facebook.com/sharer.php?src=sp&u=https%3A%2F%2Ftech.yandex.ru%2Fshare%2F&title=%D0%91%D0%BB%D0%BE%D0%BA%20%C2%AB%D0%9F%D0%BE%D0%B4%D0%B5%D0%BB%D0%B8%D1%82%D1%8C%D1%81%D1%8F%C2%BB%20%E2%80%94%20%D0%A2%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8%20%D0%AF%D0%BD%D0%B4%D0%B5%D0%BA%D1%81%D0%B0&utm_source=share2"><img src="{% static '/img/social__icon-04.png' %}" title="Поделиться Facebook" class="facebook" alt="">  </a>              
                      </div>   
                         <p class="header__news">
                        Соглашение о сотрудничестве в сфере подготовки, оценки квалификации и аттестации специалистов
                        сварочного производства.
                    </p> 
                    <p class="date__news__inside">2 ноября 2018</p>  
                             
                <div class="box__news__inside">                   
                    <p class="small__text__news">
                        01 ноября 2018 года подписано соглашение о сотрудничестве в сфере подготовки, оценки
                        квалификации и аттестации специалистов сварочного производства между Министерством занятости и
                        трудовых отношений Республики Узбекистан, Саморегулируемой организацией Ассоциация
                        "Национальное Агентство Контроля Сварки", Обществом с ограниченной ответственностью
                        "Межотраслевой Высокотехнологичный Центр НАКС" и Международной ассоциацией по правовому
                        содействию трудовым мигрантам.
                    </p>
                    <div class="line__news__end"></div>
              <p class="prikrep__doc">Прикрепленный файл:</p>
               <button class="soglashenie__button">
                <a href="#" class="soglashenie__button__text" title="Подписание соглашения о" download="#">Документ
                  <img src="{% static '/img/download__icon.png' %}" alt="" class="download__icon"></a>
              </button>     
                </div>
                 </div>           
            </div> 
             <div class="col-xl-3">
                    <p class="header__all__news">
                            Другие новости
                        </p>
                        <div class="link__read__news__inside">
                                <a href="{% url 'news' %}#head__page" class="news__more__link">
                                    Ко всем новостям
                                </a>
                            </div>   
                    <div class="block__news">
                        <a href="{% url 'news' %}#head__page" class="link__news">
                            <div class="box__news">
                                <p class="data__news__main">25 Декабря 2018</p>
                                <p class="box__news__text">
                                    Соглашение о сотрудничестве между Саморегулируемой организацией Ассоциация
                                    "Национальное Агентство Контроля Св...</p>
                            </div>
                        </a>
                    </div>
                    <div class="line__otstup__inside__pages"></div>
                    <div class="block__news">
                        <a href="{% url 'news_two' %}#head__page" class="link__news">
                            <div class="box__news">
                                <p class="data__news__main">25 Декабря 2018</p>
                                <p class="box__news__text">
                                    Соглашение о сотрудничестве между Саморегулируемой организацией Ассоциация
                                    "Национальное Агентство Контроля Св...</p>
                            </div>
                        </a>
                    </div>
                    <div class="block__news">
                        <a href="{% url 'news' %}#head__page" class="link__news">
                            <div class="box__news">
                                <p class="data__news__main">25 Декабря 2018</p>
                                <p class="box__news__text">
                                    Соглашение о сотрудничестве между Саморегулируемой организацией Ассоциация
                                    "Национальное Агентство Контроля Св...</p>
                            </div>
                        </a>
                    </div>
                    <div class="block__news">
                        <a href="{% url 'news_two' %}#head__page" class="link__news">
                            <div class="box__news">
                                <p class="data__news__main">25 Декабря 2018</p>
                                <p class="box__news__text">
                                    Соглашение о сотрудничестве между Саморегулируемой организацией Ассоциация
                                    "Национальное Агентство Контроля Св...</p>
                            </div>
                        </a>
                    </div>
                    <div class="block__news">
                        <a href="{% url 'news' %}#head__page" class="link__news">
                            <div class="box__news">
                                <p class="data__news__main">25 Декабря 2018</p>
                                <p class="box__news__text">
                                    Соглашение о сотрудничестве между Саморегулируемой организацией Ассоциация
                                    "Национальное Агентство Контроля Св...</p>
                            </div>
                        </a>
                    </div>
                    <div class="block__news">
                        <a href="{% url 'news_two' %}#head__page" class="link__news">
                            <div class="box__news">
                                <p class="data__news__main">25 Декабря 2018</p>
                                <p class="box__news__text">
                                    Соглашение о сотрудничестве между Саморегулируемой организацией Ассоциация
                                    "Национальное Агентство Контроля Св...</p>
                            </div>
                        </a>
                    </div>
                    <div class="block__news">
                        <a href="{% url 'news_two' %}#head__page" class="link__news">
                            <div class="box__news">
                                <p class="data__news__main">25 Декабря 2018</p>
                                <p class="box__news__text">
                                    Соглашение о сотрудничестве между Саморегулируемой организацией Ассоциация
                                    "Национальное Агентство Контроля Св...</p>
                            </div>
                        </a>
                    </div>
                    <div class="block__news">
                        <a href="{% url 'news' %}#head__page" class="link__news">
                            <div class="box__news">
                                <p class="data__news__main">25 Декабря 2018</p>
                                <p class="box__news__text">
                                    Соглашение о сотрудничестве между Саморегулируемой организацией Ассоциация
                                    "Национальное Агентство Контроля Св...</p>
                            </div>
                        </a>
                    </div>
                </div>


        <div class="line__otstup__inside__pages"></div>

        <button class="back__to__main">
            <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                    alt="">
                На главную</a>
        </button>
        <div class="line__otstup__inside__pages"></div>
    </div>
    </div>
        </div>
    </div>
</div>
{% endblock  %}