
 {% extends 'mainapp/index.html' %}
{% load static %}
{% block content %} <div class="container">   

        <button class="back__to__main" id="head__page">
                <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                        alt=""> На главную</a>
            </button>


    <div class="row">
        <div class="col-xl-3">
               
        </div>       
        <div class="col-sm-12 col-md-12 col-xl-7">
                <div class="header__inside__pages" id="political">Политика <br> конфиденциальности</div>
                <p class="header__political">
                    1. Введение
                </p>
                <p class="political__text__small">
                    1.1. Важнейшим условием реализации целей деятельности Межотраслевого объединения наноиндустрии
                    является обеспечение необходимого и достаточного уровня информационной безопасности информации, к
                    которой, в том числе, относятся персональные данные.

                    1.2. Политика в отношении обработки персональных данных в Межотраслевом объединении наноиндустрии
                    определяет порядок сбора, хранения, передачи и иных видов обработки персональных данных в
                    Межотраслевом объединении наноиндустрии, а также сведения о реализуемых требованиях к защите
                    персональных данных.
                </p>
                <p class="header__political">
                    2. СОСТАВ ПЕРСОНАЛЬНЫХ ДАННЫХ И ПЕРЕЧЕНЬ ДЕЙСТВИЙ С ДАННЫМИ
                </p>
                <p class="political__text__small">
                    2.1. Сведениями, составляющими персональные данные, является любая информация, относящаяся к прямо
                    или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                    Детальный перечень персональных данных фиксируется в локальной нормативной документации
                    Межотраслевого объединения наноиндустрии.

                    2.2. Все обрабатываемые Межотраслевым объединением наноиндустрии персональные данные являются
                    конфиденциальной, строго охраняемой информацией в соответствии с законодательством.

                    2.3. Перечень действий с персональными данными, общее описание используемых оператором способов
                    обработки персональных данных: Сбор, анализ, обобщение, хранение, изменение, дополнение, передача
                    (без (или) с трансграничной передачей на территорию стран, обеспечивающих адекватную защиту),
                    уничтожение персональных данных. Автоматизированная / Неавтоматизированная / Смешанная обработка
                    персональных данных.
                </p>
                <p class="header__political">
                    3. ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
                </p>
                <p class="political__text__small">
                    3.1. Персональные данные обрабатываются Межотраслевым объединением наноиндустрии в целях оформления
                    трудовых и иных договорных отношений, кадрового, бухгалтерского, налогового учета, по снованиям,
                    предусмотренным ст.22 Федерального закона от 27.06.2006 №152-ФЗ, 85-90 Трудового кодекса РФ и в
                    иных целях, если действия Межотраслевого объединения наноиндустрии не противоречат действующему
                    законодательству.

                    3.2. Межотраслевое объединение наноиндустрии в целях надлежащего исполнения своих обязанностей
                    Оператора обрабатывает следующие персональные данные, необходимые для надлежащего исполнения
                    договорных обязательств:
                </p>
                <p class="political__text__small">· Фамилия, Имя, Отчество</p>
                <p class="political__text__small">· Дата рождения</p>
                <p class="political__text__small">· Контактный телефон</p>
                <p class="political__text__small">· Адрес электронной почты</p>
                <p class="political__text__small">· Почтовый адрес</p>
                <p class="header__political">
                    4. ПОРЯДОК СБОРА, ХРАНЕНИЯ, ПЕРЕДАЧИ И ИНЫХ ВИДОВ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
                </p>
                <p class="political__text__small">
                    4.1. Обработка персональных данных, осуществляемая без использования средств автоматизации,
                    осуществляется таким образом, чтобы в отношении каждой категории персональных данных можно было
                    определить места хранения персональных данных (материальных носителей). Межотраслевым объединением
                    наноиндустрии установлен перечень лиц, осуществляющих обработку персональных данных либо имеющих к
                    ним доступ. Обеспечивается раздельное хранение персональных данных (материальных носителей),
                    обработка которых осуществляется в различных целях. Межотраслевое объединение наноиндустрии
                    обеспечивает сохранность персональных данных и принимает меры, исключающие несанкционированный
                    доступ к персональным данным.
                </p>
                <p class="political__text__small">
                    4.2. Обработка персональных данных, осуществляемая с использованием средств автоматизации,
                    проводится при условии выполнения следующих действий: Межотраслевое объединение наноиндустрии
                    проводит технические мероприятия, направленные на предотвращение несанкционированного доступа к
                    персональным данным и (или) передачи их лицам, не имеющим права доступа к такой информации;
                    защитные инструменты настроены на своевременное обнаружение фактов несанкционированного доступа к
                    персональным данным; технические средства автоматизированной обработки персональных данных
                    изолированы в целях недопущения воздействия на них, в результате которого может быть нарушено их
                    функционирование; Межотраслевое объединение наноиндустрии производит резервное копирование данных,
                    с тем, чтобы иметь возможность незамедлительного восстановления персональных данных,
                    модифицированных или уничтоженных вследствие несанкционированного доступа к ним; осуществляет
                    постоянный контроль за обеспечением уровня защищенности персональных данных.
                </p>
                <p class="header__political">
                    5. СВЕДЕНИЯ О РЕАЛИЗУЕМЫХ ТРЕБОВАНИЯХ К ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ.
                </p>
                <p class="political__text__small">
                    5.1. Межотраслевое объединение наноиндустрии проводит следующие мероприятия: определяет угрозы
                    безопасности персональных данных при их обработке, формирует на их основе модели угроз;
                    осуществляет разработку на основе модели угроз системы защиты персональных данных, обеспечивающей
                    нейтрализацию предполагаемых угроз с использованием методов и способов защиты персональных данных,
                    предусмотренных для соответствующего класса информационных систем; формирует план проведения
                    проверок готовности новых средств защиты информации к использованию с составлением заключений о
                    возможности их эксплуатации; осуществляет установку и ввод в эксплуатацию средств защиты информации
                    в соответствии с эксплуатационной и технической документацией; проводит обучение лиц, использующих
                    средства защиты информации, применяемые в информационных системах, правилам работы с ними;
                    осуществляет учет применяемых средств защиты информации, эксплуатационной и технической
                    документации к ним, носителей персональных данных; осуществляет учет лиц, допущенных к работе с
                    персональными данными в информационной системе; осуществляет контроль за соблюдением условий
                    использования средств защиты информации, предусмотренных эксплуатационной и технической
                    документацией; вправе инициировать разбирательство и составление заключений по фактам несоблюдения
                    условий хранения носителей персональных данных, использования средств защиты информации, которые
                    могут привести к нарушению конфиденциальности персональных данных или другим нарушениям, приводящим
                    к снижению уровня защищенности персональных данных, разработку и принятие мер по предотвращению
                    возможных опасных последствий подобных нарушений; имеет описания системы защиты персональных
                    данных.
                </p>
                <p class="political__text__small">
                    5.2. Для разработки и осуществления конкретных мероприятий по обеспечению безопасности персональных
                    данных при их обработке в информационной системе Межотраслевым объединением наноиндустрии или
                    уполномоченным лицом ответственным является подразделение информационных технологий Межотраслевого
                    объединения наноиндустрии. Лица, доступ которых к персональным данным, обрабатываемым в
                    информационной системе, необходим для выполнения служебных (трудовых) обязанностей, допускаются к
                    соответствующим персональным данным на основании списка, утвержденного Межотраслевым объединением
                    наноиндустрии. Запросы пользователей информационной системы на получение персональных данных, а
                    также факты предоставления персональных данных по этим запросам регистрируются автоматизированными
                    средствами информационной системы в электронном журнале обращений. Содержание электронного журнала
                    обращений периодически проверяется соответствующими должностными лицами (работниками)
                    Межотраслевого объединения наноиндустрии или уполномоченного лица. При обнаружении нарушений
                    порядка предоставления персональных данных Межотраслевое объединение наноиндустрии или
                    уполномоченное лицо незамедлительно приостанавливают предоставление персональных данных
                    пользователям информационной системы до выявления причин нарушений и устранения этих причин.
                </p>
                <p class="header__political">
                    6. ПРАВА И ОБЯЗАННОСТИ ОПЕРАТОРА
                </p>
                <p class="political__text__small">
                    6.1. Межотраслевое объединение наноиндустрии как оператор персональных данных вправе:
                </p>
                <p class="political__text__small">
                    • отстаивать свои интересы в суде;
                </p>
                <p class="political__text__small">
                    • предоставлять персональные данные субъектов третьим лицам, если это предусмотрено действующим
                    законодательством (налоговые, правоохранительные органы и др.);
                </p>
                <p class="political__text__small">
                    • отказывать в предоставлении персональных данных в случаях предусмотренных законодательством;
                </p>
                <p class="political__text__small">
                    • использовать персональные данные субъекта без его согласия, в случаях предусмотренных
                    законодательством.
                </p>
                <p class="header__political">
                    7. ПРАВА И ОБЯЗАННОСТИ СУБЪЕКТА ПЕРСОНАЛЬНЫХ ДАННЫХ
                </p>
                <p class="political__text__small">
                    7.1. Субъект персональных данных имеет право:
                </p>
                <p class="political__text__small">
                    • требовать уточнения своих персональных данных, их блокирования или уничтожения в случае, если
                    персональные данные являются неполными, устаревшими, недостоверными, незаконно полученными или не
                    являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры
                    по защите своих прав;
                </p>
                <p class="political__text__small">
                    • требовать перечень своих персональных данных, обрабатываемых Оператором и источник их получения;
                </p>
                <p class="political__text__small">
                    • получать информацию о сроках обработки своих персональных данных, в том числе о сроках их
                    хранения;
                </p>
                <p class="political__text__small">
                    • требовать извещения всех лиц, которым ранее были сообщены неверные или неполные его персональные
                    данные, обо всех произведенных в них исключениях, исправлениях или дополнениях;
                </p>
                <p class="political__text__small">
                    • обжаловать в уполномоченный орган по защите прав субъектов персональных данных или в судебном
                    порядке неправомерные действия или бездействия при обработке его персональных данных;
                </p>
                <p class="political__text__small">
                    • на защиту своих прав и законных интересов, в том числе на возмещение убытков и (или) компенсацию
                    морального вреда в судебном порядке.
                </p>
                <p class="header__political">
                    8. ФАЙЛЫ COOKIE
                </p>
                <p class="political__text__small">
                    8.1. Файлы cookie представляют собой небольшие текстовые файлы, которые сохраняются на вашем
                    компьютере или мобильном устройстве при посещении сайтов Межотраслевого объединения наноиндустрии.
                    Для целей данного раздела, термин "cookie" используется в качестве обобщающего термина для понятий
                    "cookie", "flash cookie" и "веб-маяки". Эти файлы не занимают много места и автоматически удаляются
                    по истечении срока их действия. Некоторые cookie используются до конца сеанса соединения с
                    Интернетом, другие сохраняются в течение ограниченного периода времени.
                </p>
                <p class="political__text__small">
                    8.2. Существуют различные виды cookie и способы их использования. Некоторые из них позволяют
                    просматривать исключительно содержимое веб-сайтов и видеть некоторые их особенности. Отдельные
                    файлы предоставляют Компании возможность получить информацию о характере просмотров, т.е. о
                    проблемах с поиском, помогая нам улучшить механизмы поиска и сделать будущие посещения сайта более
                    эффективными.
                </p>
                <p class="political__text__small">
                    Межотраслевое объединение наноиндустрии использует cookie по нескольким причинам.
                </p>
                <p class="political__text__small">
                    Наиболее важные файлы cookie – необходимые cookie. Они имеют существенное значение и помогают
                    ориентироваться на сайте и использовать его основные функции, такие как медиа-плагины. При наличии
                    функциональных cookie можно сохранять покупки в корзине, создавать пожелания и сохранять данные о
                    доставке для быстрого оформления заказа. Cookie для оценки производительности и аналитики
                    используются для улучшения работы сайта Межотраслевого объединения наноиндустрии. Они также
                    применяются для отображения соответствующих предложений. Для этого Межотраслевое объединение
                    наноиндустрии собирает просматриваемые данные, которые могут быть связаны с уникальным
                    идентификатором и позволяют понять характер взаимодействия клиентов с Межотраслевым объединением
                    наноиндустрии. Cookie для взаимодействия используются в процессе взаимодействия с социальными
                    сетями или создания отзывов. Целевые, рекламные файлы cookie и файлы социальных сетей регистрируют
                    ваши предпочтения для отображения соответствующих объявлений за пределами сайта Межотраслевого
                    объединения наноиндустрии. Также, cookie социальных сетей могут быть использованы для отслеживания
                    активности в области социальных сетей.
                </p>
                <p class="political__text__small">
                    8.3. Межотраслевое объединение наноиндустрии использует файлы cookie для того, чтобы сделать
                    посещение сайта как можно более приятным, а также для рекламных целей. Ниже приведен более
                    подробный обзор видов cookie и причины их использования:
                </p>
                <p class="political__text__small">
                    -НЕОБХОДИМЫЕ ФАЙЛЫ COOKIE способствуют при навигации по сайту и просмотре некоторых его свойств
                    (например, данный вид cookie помогает сохранить данные о корзине на всех этапах оформления заказа).
                    Эти файлы необходимы для реализации основных функциональных возможностей сайта. Они сохраняются на
                    протяжении сеанса просмотра сайта.
                </p>
                <p class="political__text__small">
                    -ФУНКЦИОНАЛЬНЫЕ И АНАЛИТИЧЕСКИЕ ФАЙЛЫ COOKIE позволяют улучшить пользование ресурсами (например,
                    сохранить данные о покупках и напомнить о них, создать лист). Такие файлы позволяют анализировать
                    использование сайта, измерять и повышать уровень производительности. Эти файлы могут размещаться
                    нами или третьими лицами от нашего имени (см. условия отказа от получения рекламной рассылки по
                    электронной почте) и сохраняются на протяжении сеанса просмотра.
                </p>
                <p class="political__text__small">
                    8.4. ЧТО ДЕЛАТЬ, ЕСЛИ ПОСЕТИЛЬ ПРОТИВ ФАЙЛОВ COOKIE? Изменить настройки браузера, чтобы удалить или
                    предотвратить сохранение некоторых файлов cookie на компьютере или мобильном устройстве без
                    согласия посетителя. В разделе "Помощь" браузера посетителя содержится информация о настройке
                    файлов cookie.
                </p>
                <p class="political__text__small">
                    Посетителю необходимо обратиться к инструкции браузера для того, чтобы узнать больше о том, как
                    скорректировать или изменить настройки браузера с каждого устройства, которые посетитель
                    используете для посещения Сайта.
                </p>
                <p class="header__political">
                    9. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
                </p>
                <p class="political__text__small">
                    9.1. Настоящая Политика подлежит при необходимости изменению, дополнению, в т.ч. в случае появления
                    новых законодательных актов и специальных нормативных документов по обработке и защите персональных
                    данных.
                </p>
                <p class="political__text__small">
                    9.2. Настоящая Политика является внутренним документом Межотраслевого объединения наноиндустрии, и
                    подлежит размещению на официальном сайте Межотраслевого объединения наноиндустрии. В случае
                    изменений, доведение до неограниченного круга лица таких изменений осуществляется посредством
                    размещения на официальном сайте Межотраслевого объединения наноиндустрии Политики с учетом таких
                    изменений.
                </p>
                <p class="political__text__small">
                    9.3. Контроль исполнения требований настоящей Политики осуществляется ответственным за обеспечение
                    безопасности персональных данных Межотраслевого объединения наноиндустрии.
                </p>
            </div>
    </div>


    <div class="line__otstup__inside__pages"></div>
 
    <button class="back__to__main">
        <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                alt=""> На главную</a>
    </button>
    <div class="line__otstup__inside__pages"></div>
</div>
{% endblock  %}