
 {% extends 'mainapp/index.html' %}
{% load static %}{% load link_holders %}
{% block content %} <div class="container">

        <button class="back__to__main" id="head__page">
                <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                        alt=""> На главную</a>
            </button>


    <div class="row">
        <div class="col-xl-3">

        </div>
        <div class="col-sm-12 col-md-12 col-xl-7">
        {% autoescape off %}
            {% chunk 'confid_politic' %}
        {% endautoescape %}
        </div>
    </div>


    <div class="line__otstup__inside__pages"></div>

    <button class="back__to__main">
        <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                alt=""> На главную</a>
    </button>
    <div class="line__otstup__inside__pages"></div>
</div>
{% endblock  %}