{% extends 'mainapp/index.html' %}
{% load static %}
{% block content %}
    <div class="container">

        <button class="back__to__main" id="head__page">
            <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                    alt=""> На главную</a>
        </button>


        <div class="row">
            <div class="col-xl-2">
                <div class="header__inside__pages" id="political">Профстандарты <br>в области сварки</div>
            </div>
            <div class="col-xl-4">
                <div class="box__standart">
                    <p class="header__standart">
                        Профессиональный стандарт №1
                    </p>
                    <p class="name__standart">
                        Сварщик
                    </p>
                    <p class="info__standart">
                        Информация о стандарте
                    </p>
                    <p class="number__standart">
                        Код: 40.002
                    </p>
                    <p class="info__standart">
                        Регистрационный номер
                    </p>
                    <p class="number__standart">
                        №14
                    </p>
                    <p class="info__standart">
                        Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                        рег. № 31301
                    </p>
                    <button class="download__standart">
                        <a href="#" class="button__standart" download="">Скачать</a>
                    </button>
                </div>
                <div class="box__standart">
                    <p class="header__standart">
                        Профессиональный стандарт №1
                    </p>
                    <p class="name__standart">
                        Сварщик
                    </p>
                    <p class="info__standart">
                        Информация о стандарте
                    </p>
                    <p class="number__standart">
                        Код: 40.002
                    </p>
                    <p class="info__standart">
                        Регистрационный номер
                    </p>
                    <p class="number__standart">
                        №14
                    </p>
                    <p class="info__standart">
                        Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                        рег. № 31301
                    </p>
                    <button class="download__standart">
                        <a href="#" class="button__standart" download="">Скачать</a>
                    </button>
                </div>
                <div class="box__standart">
                    <p class="header__standart">
                        Профессиональный стандарт №1
                    </p>
                    <p class="name__standart">
                        Сварщик
                    </p>
                    <p class="info__standart">
                        Информация о стандарте
                    </p>
                    <p class="number__standart">
                        Код: 40.002
                    </p>
                    <p class="info__standart">
                        Регистрационный номер
                    </p>
                    <p class="number__standart">
                        №14
                    </p>
                    <p class="info__standart">
                        Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                        рег. № 31301
                    </p>
                    <button class="download__standart">
                        <a href="#" class="button__standart" download="">Скачать</a>
                    </button>
                </div>
                <div class="box__standart">
                    <p class="header__standart">
                        Профессиональный стандарт №1
                    </p>
                    <p class="name__standart">
                        Сварщик
                    </p>
                    <p class="info__standart">
                        Информация о стандарте
                    </p>
                    <p class="number__standart">
                        Код: 40.002
                    </p>
                    <p class="info__standart">
                        Регистрационный номер
                    </p>
                    <p class="number__standart">
                        №14
                    </p>
                    <p class="info__standart">
                        Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                        рег. № 31301
                    </p>
                    <button class="download__standart">
                        <a href="#" class="button__standart" download="">Скачать</a>
                    </button>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="box__standart">
                    <p class="header__standart">
                        Профессиональный стандарт №1
                    </p>
                    <p class="name__standart">
                        Сварщик
                    </p>
                    <p class="info__standart">
                        Информация о стандарте
                    </p>
                    <p class="number__standart">
                        Код: 40.002
                    </p>
                    <p class="info__standart">
                        Регистрационный номер
                    </p>
                    <p class="number__standart">
                        №14
                    </p>
                    <p class="info__standart">
                        Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                        рег. № 31301
                    </p>
                    <button class="download__standart">
                        <a href="#" class="button__standart" download="">Скачать</a>
                    </button>
                </div>
                <div class="box__standart">
                    <p class="header__standart">
                        Профессиональный стандарт №1
                    </p>
                    <p class="name__standart">
                        Сварщик
                    </p>
                    <p class="info__standart">
                        Информация о стандарте
                    </p>
                    <p class="number__standart">
                        Код: 40.002
                    </p>
                    <p class="info__standart">
                        Регистрационный номер
                    </p>
                    <p class="number__standart">
                        №14
                    </p>
                    <p class="info__standart">
                        Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                        рег. № 31301
                    </p>
                    <button class="download__standart">
                        <a href="#" class="button__standart" download="">Скачать</a>
                    </button>
                </div>
                <div class="box__standart">
                    <p class="header__standart">
                        Профессиональный стандарт №1
                    </p>
                    <p class="name__standart">
                        Сварщик
                    </p>
                    <p class="info__standart">
                        Информация о стандарте
                    </p>
                    <p class="number__standart">
                        Код: 40.002
                    </p>
                    <p class="info__standart">
                        Регистрационный номер
                    </p>
                    <p class="number__standart">
                        №14
                    </p>
                    <p class="info__standart">
                        Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                        рег. № 31301
                    </p>
                    <button class="download__standart">
                        <a href="#" class="button__standart" download="">Скачать</a>
                    </button>
                </div>
               
            </div>
            <div class="col-xl-2">
                <div class="sider__bar">
                    <p class="right__column__header">
                        Подать заявку на аттестацию:
                    </p>
                 <div class="list__service__column">
                       <p class="small__column__text"><a href="{% url 'svarshik' %}#head__page">Специальная подготовка сварщиков 
и специалистов сварочного производства</a></p>           
            <p class="small__column__text"><a href="{% url 'svarproizvodstva' %}#head__page"> Аттестация сварщиков 
и специалистов сварочного производства</a></p>
            <p class="small__column__text"><a href="{% url 'atestatsvaroborud' %}#head__page"> Аттестация 
сварочного оборудования</a></p>
            <p class="small__column__text"><a href="{% url 'atestatechonlogy' %}#head__page">Аттестация 
технологий сварки</a></p>
                 </div>
                </div>
            </div>
        </div>

        <div class="line__otstup__inside__pages"></div>

        <button class="back__to__main">
            <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                    alt=""> На главную</a>
        </button>
        <div class="line__otstup__inside__pages"></div>
    </div>
{% endblock  %}