{% extends 'mainapp/index.html' %}
{% load static %}
{% block content %}
  <div class="container">   

        <button class="back__to__main" id="head__page">
                <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                        alt=""> На главную</a>
            </button>


            <div class="row">
                    <div class="col-xl-5">
                        <div class="header__inside__pages ">Реестр САСв</div>
                        <div class="line__section"></div>
                        <p class="personal__cok__acst__text">
                            Выписказ из реестра САСв "Ростехнадзора" Персонал сварочного производства, аттестованного
                            в аттестационном центре <br>  ООО "НАКС Стандарт-Диагностик" (ВВР-2ГАЦ)
                        </p>
                        <a href="http://www.naks.ru/aso/reestrattso/" target="_blank" class="reestr__link__naks text-align-middle">НАКС -
                            Реестр аттестаций</a>
                    </div>
                </div>
                <div class="line__text__one__reestr"></div>
                <div class="row">
        
                    <div class="col-xl-4">
                        <div class="box__search__subject__form">
                            <p class="header__text__search__subject">
                                Поиск субъекта
                            </p>
                            <div class="form-row">
        
                                <label for="search__subject__restr">Ф.И.О</label>
                                <input type="text" placeholder="Иван Иванов Иванович" class="form__subject__search" id="">
        
                            </div>
                            <div class="form-row">
                                <label for="search__work__subject">Место работы</label>
                                <input type="text" placeholder="Транснефть" class="form__subject__search" id="">
                                <button type="submit" class="button__search__document" onclick="return false" id="header__doc">
                                    Найти
                                </button>
                            </div>
        
                        </div>
                    </div>
        
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="header__subject__list">
                            <div class="col-md-2 col-sm-2 col-xl-2 d-inline-block">
                                <p class="name__list">Ф.И.О</p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xl-3 d-inline-block">
                                <p class="name__list">Должность</p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xl-4 d-inline-block">
                                <p class="name__list">Номер удостоверения</p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xl-2 d-inline-block">
                                <p class="name__list">Срок действия</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 ">
        
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" data-toggle="collapse" data-target="#collapseOne" id="headingOne">
                                            <h5 class="mb-0">
                                                <div class="col-md-2 col-sm-2 col-xl-2 d-inline-block align-middle">
                                                    <p class="click__named__list">Аношин Илья <br> Андреевич</p>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xl-3 d-inline-block">
                                                    <p class="additional__information">Сварщик 4-го разряда</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xl-4 d-inline-block">
                                                    <p class="additional__information">ВВР-2ГАЦ-I-32072</p>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xl-2 d-inline-block">
                                                    <p class="additional__information">13.07.2020</p>
                                                </div>
                                            </h5>
                                        </div>
        
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Место работы</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Вид аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Вид деятельности</p>
                                                </div>
                                                <div class="col-sm-3 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Область аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Место аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list__no-work">• Не работает</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">Первичная</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">Руководство</p>
                                                </div>
                                                <div class="col-sm-3 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">СК(4) / М61</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">ВВР-2ГАЦ</p>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" data-toggle="collapse" data-target="#collapseTwo" id="headingTwo">
                                            <h5 class="mb-0">
                                                <div class="col-md-2  col-sm-2  col-xl-2 d-inline-block align-middle">
                                                    <p class="click__named__list">Свиридкин Андрей <br> Николаевич</p>
                                                </div>
                                                <div class="col-md-3  col-sm-3  col-xl-3 d-inline-block">
                                                    <p class="additional__information">Сварщик 4-го разряда</p>
                                                </div>
                                                <div class="col-md-4  col-sm-4  col-xl-4 d-inline-block">
                                                    <p class="additional__information">ВВР-2ГАЦ-I-32072</p>
                                                </div>
                                                <div class="col-md-2  col-sm-2  col-xl-2 d-inline-block">
                                                    <p class="additional__information">13.07.2020</p>
                                                </div>
                                            </h5>
                                        </div>
        
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Место работы</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Вид аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Вид деятельности</p>
                                                </div>
                                                <div class="col-sm-3 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Область аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Место аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">ООО "Сибремстроймонтаж",
                                                        г. Омск</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">Первичная</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">Руководство</p>
                                                </div>
                                                <div class="col-sm-3 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">СК(4) / М61</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">ВВР-2ГАЦ</p>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" data-toggle="collapse" data-target="#collapseThree" id="headingThree">
                                            <h5 class="mb-0">
                                                <div class="col-md-2  col-sm-2 col-xl-2 d-inline-block align-middle">
                                                    <p class="click__named__list">Яковлек Николай <br> Павлович</p>
                                                </div>
                                                <div class="col-md-3  col-sm-3 col-xl-3 d-inline-block">
                                                    <p class="additional__information">Сварщик 4-го разряда</p>
                                                </div>
                                                <div class="col-md-4  col-sm-4 col-xl-4 d-inline-block">
                                                    <p class="additional__information">ВВР-2ГАЦ-I-32072</p>
                                                </div>
                                                <div class="col-md-2  col-sm-2 col-xl-2 d-inline-block">
                                                    <p class="additional__information">13.07.2020</p>
                                                </div>
                                            </h5>
                                        </div>
        
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Место работы</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Вид аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Вид деятельности</p>
                                                </div>
                                                <div class="col-sm-3 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Область аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Место аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">ООО "Сибремстроймонтаж",
                                                        г. Омск</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">Первичная</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">Руководство</p>
                                                </div>
                                                <div class="col-sm-3 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">СК(4) / М61</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">ВВР-2ГАЦ</p>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" data-toggle="collapse" data-target="#collapseFour" id="headingFour">
                                            <h5 class="mb-0">
                                                <div class="col-md-2 col-sm-2 col-xl-2 d-inline-block align-middle">
                                                    <p class="click__named__list">Джиганов Сергей <br> Викторович</p>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xl-3 d-inline-block">
                                                    <p class="additional__information">Сварщик 4-го разряда</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xl-4 d-inline-block">
                                                    <p class="additional__information">ВВР-2ГАЦ-I-32072</p>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xl-2 d-inline-block">
                                                    <p class="additional__information">13.07.2020</p>
                                                </div>
                                            </h5>
                                        </div>
        
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Место работы</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Вид аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Вид деятельности</p>
                                                </div>
                                                <div class="col-sm-3 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Область аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Место аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">ООО "Сибремстроймонтаж",
                                                        г. Омск</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">Первичная</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">Руководство</p>
                                                </div>
                                                <div class="col-sm-3 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">СК(4) / М61</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">ВВР-2ГАЦ</p>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" data-toggle="collapse" data-target="#collapseFive" id="headingFive">
                                            <h5 class="mb-0">
                                                <div class="col-sm-2  col-md-2  col-xl-2 d-inline-block align-middle">
                                                    <p class="click__named__list">Джамашвили Мурдян <br> Всеволодович</p>
                                                </div>
                                                <div class="col-sm-3  col-md-3  col-xl-3 d-inline-block">
                                                    <p class="additional__information">Сварщик 4-го разряда</p>
                                                </div>
                                                <div class="col-sm-4  col-md-4  col-xl-4 d-inline-block">
                                                    <p class="additional__information">ВВР-2ГАЦ-I-32072</p>
                                                </div>
                                                <div class="col-sm-2  col-md-2  col-xl-2 d-inline-block">
                                                    <p class="additional__information">13.07.2020</p>
                                                </div>
                                            </h5>
                                        </div>
        
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Место работы</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Вид аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Вид деятельности</p>
                                                </div>
                                                <div class="col-sm-3 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Область аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="header__additional__information__list">Место аттестации</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">ООО "Сибремстроймонтаж",
                                                        г. Омск</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">Первичная</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">Руководство</p>
                                                </div>
                                                <div class="col-sm-3 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">СК(4) / М61</p>
                                                </div>
                                                <div class="col-sm-2 d-inline-block align-middle">
                                                    <p class="subtitle__additional__information__list">ВВР-2ГАЦ</p>
                                                </div>
                                            </div>
        
                                        </div>
        
                                    </div>
        
        
                                </div>
        
        
                            </div>
                            <div class="col-xl-3 d-inline-block " id="">
                                <p class="number__list__found__subject">Найдено: 1-5 из 361</p>
                            </div>
                            <div class="col-xl-9 d-inline-block " id="">
                                <div class="number__list float-right">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Назад</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Вперед</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
        
        
        
        
                    </div>
                </div>


    <div class="line__otstup__inside__pages"></div>
 
    <button class="back__to__main">
        <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                alt=""> На главную</a>
    </button>
    <div class="line__otstup__inside__pages"></div>
</div>

  {% endblock  %}  