{% extends 'mainapp/index.html' %}
{% load static %}{% load link_holders %}
{% block content %}
    <div class="container">

        <button class="back__to__main" id="head__page">
            <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                    alt="">
                На главную</a>
        </button>


        <div class="row">

            <div class="col-xl-2">

            </div>

            <div class="col-xl-7">
                <div class="header__inside__pages">Услуги центра</div>
                <div class="box__service__inside__pages">
                    <p class="header__service   ">Специальная подготовка сварщиков <br> и специалистов сварочного
                        производства</p>
                    <div class="inside__pages__online__zayavka__button  ">
                        <button class="button__zayavka__inside__pages" data-toggle="modal" data-target="#modal-statement">Оставить
                            заявку</button>
                    </div>

                    {% autoescape off %}
                        {% chunk 'OBLD_SPECPOD' %}
                    {% endautoescape %}



                </div>

            </div>

            <div class="col-xl-2">

                            {% include 'mainapp/includes/side_services_panel.html' %}


                    </div>
                </div>
            </div>

        </div>


        <div class="line__otstup__inside__pages"></div>

        <button class="back__to__main">
            <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center"
                    alt="">
                На главную</a>
        </button>
        <div class="line__otstup__inside__pages"></div>
    </div>
{% endblock  %}
